{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créditos del Proyecto</title>
    <link rel="icon" type="image/png" href="{% static 'login/images/favicon.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fondo-navbar-azul mb-5">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active fuente-parrafos2 color-text-blanco mt-1 animacion-color-txt"
                            href="{% url 'ver_creditos' %}">Creditos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active fuente-parrafos2 color-text-blanco mt-1 animacion-color-txt"
                            href="{% url 'ver_historial' %}">Historial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active fuente-parrafos2 color-text-blanco mt-1 animacion-color-txt"
                            href="{% url 'ver_perfil' %}">Perfil</a>
                    </li>
                    <li class="nav-item dropdown fuente-parrafos2 color-text-blanco mt-1 animacion-color-txt">
                        <a class="nav-link dropdown-toggle color-text-blanco animacion-color-txt" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Métodos Numéricos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'formulario_lagrange' %}">Interpolación de
                                    Lagrange</a></li>
                            <li><a class="dropdown-item" href="{% url 'formulario_trazadores' %}">Trazadores Cúbicos</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'documentacion_metodos' %}">Documentación</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" role="">
                    <a class="nav-link active fuente-parrafos2 color-text-blanco mt-1 animacion-color-txt"
                        aria-current="page" href="{% url 'logout' %}">Cerrar Sesión</a>
                </form>
            </div>
        </div>
    </nav>

    <div class="containerAccounts m-auto p-4 shadow">
        <div class="text-center">
            <h1 class="fuente-titulos2 color-text-negro mb-4">Creditos del Proyecto</h1>
        </div>

        <div class="mb-4">
            <div class="text-center">
                <p class="fuente-semititulos color-text-rojo2">Marlon Adonay Alemán González - AG22011</p>
            </div>
            <ul>
                <li class="fuente-parrafos1 color-text-negro">Responsable del diseño visual de perfiles.</li>
                <li class="fuente-parrafos1 color-text-negro">Responsable del diseño visual de autentificadores (login,
                    singup).</li>
                <li class="fuente-parrafos1 color-text-negro">Responsable detras de la lógica de método de lagrange.
                </li>
                <li class="fuente-parrafos1 color-text-negro">Responsable de la logica de Historial.</li>
                <li class="fuente-parrafos1 color-text-negro">Responsable de la logica de mapeo de urls de las vistas
                    correspondientes.</li>
                <li class="fuente-parrafos1 color-text-negro">Responsable detras de la lógica de perfiles.</li>
                <li class="fuente-parrafos1 color-text-negro">Responsable detras de la creacion de modelo de usuario
                    personalizado.</li>

            </ul>
        </div>

        <div class="mb-4">
            <div class="text-center">
                <p class="fuente-semititulos color-text-rojo2">Diego Alejandro Flores Montesinos - FM22026</p>
            </div>
            <ul>
                <li class="fuente-parrafos1 color-text-negro">Responsable del diseño visual de Home.</li>
                <li class="fuente-parrafos1 color-text-negro">Responsable del diseño visual de Documentacion.</li>
                <li class="fuente-parrafos1 color-text-negro">Responsable detras de la lógica del metodo de trazadores.
                </li>
                <li class="fuente-parrafos1 color-text-negro">Responsable de la logica de mapeo de urls de las vistas
                    correspondientes.</li>
                <li class="fuente-parrafos1 color-text-negro">Responsable de la logica y diseño de créditos.</li>
                <li class="fuente-parrafos1 color-text-negro">Responsable detras de la lógica de método de lagrange.
                </li>
                <li class="fuente-parrafos1 color-text-negro">Responsable detras de la lógica de metodos numericos sin
                    registro (usuario no logueado).</li>
            </ul>
        </div>

        <p class="mt-5 text-muted fuente-parrafos2 text-center">Este proyecto fue realizado como parte del curso de
            Análisis
            Numérico - 2025.</p>
        <p class="text-muted fuente-parrafos1 text-center">Ciudad Universitaria - ¡Hacia la libertad por la cultura!</p>
    </div>
</body>

</html>